* {
    margin: 0;
    padding: 0;
  }
  
  header {
    max-width:300px;
    margin: 0 auto;
    text-align: center;
    padding: 32px 0;
  }
  
  header h1 {
    font-size: 28px;
    margin-bottom: 4px;
    line-height: 33px;
  }
  
  header h1 span {
    color:#995000;
  }
  
  header p{
    font-size:14px;
    line-height: 16px;
    color:#000000;
    opacity: 0.7;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFEDD5;
  }
  
  section {
    max-width: 300px;
    margin: 0 auto;
    MARGIN-BOTTOM: 24px;
  }
  
   section h2 {
     background-color: #fed7aa;
     padding: 8px 16px;
     text-align: center;
     margin-bottom: 24px;
     font-size: 18px;
   }
  
  ul {
    list-style: none;
  }
  
  h1, h2, h3, .price {
    font-family: 'Roboto serif', serif;
    font-size: 14px;
    text-transform: uppercase;
    color:#2d2c2a;
     
  }
  
  ul li{
     margin-bottom: 16px;
     display: flex
   }
  
   li .details{
     max-width: 240px;
   }
  
  .details h3 {
    margin-bottom: 8px;
    font-size: 16px;
  
  }
  .details p {
    text-align: justify;
    color:#000000;
    opacity: 0.6;
    line-height: 21px;
    font-size: 14px;
  }
  
  